# Importing Libraries and dataset

In [3]:
#Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Loading the dataset
df=pd.read_csv('adult_with_headers.csv')
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.shape

(32561, 15)

In [6]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [8]:
#checking Missing Values
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [9]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [10]:
# Identify numerical features
numerical_features=df.select_dtypes(include=['int64','float']).columns
numerical_features

Index(['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss',
       'hours_per_week'],
      dtype='object')

In [11]:
# Identify categorical features
categorical_features=df.select_dtypes(include=['object']).columns
categorical_features

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country', 'income'],
      dtype='object')

## Applying scaling techniques to numerical features

In [12]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [13]:
scaler=StandardScaler()

In [14]:
scaled_data_df=df.copy()

In [15]:
scaled_data_df=scaler.fit_transform(df[numerical_features])
scaled_data_df

array([[ 0.03067056, -1.06361075,  1.13473876,  0.1484529 , -0.21665953,
        -0.03542945],
       [ 0.83710898, -1.008707  ,  1.13473876, -0.14592048, -0.21665953,
        -2.22215312],
       [-0.04264203,  0.2450785 , -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       ...,
       [ 1.42360965, -0.35877741, -0.42005962, -0.14592048, -0.21665953,
        -0.03542945],
       [-1.21564337,  0.11095988, -0.42005962, -0.14592048, -0.21665953,
        -1.65522476],
       [ 0.98373415,  0.92989258, -0.42005962,  1.88842434, -0.21665953,
        -0.03542945]])

In [16]:
min_sca=MinMaxScaler()

In [17]:
min_data_df=df.copy()

In [18]:
min_data_df=min_sca.fit_transform(df[numerical_features])
min_data_df

array([[0.30136986, 0.0443019 , 0.8       , 0.02174022, 0.        ,
        0.39795918],
       [0.45205479, 0.0482376 , 0.8       , 0.        , 0.        ,
        0.12244898],
       [0.28767123, 0.13811345, 0.53333333, 0.        , 0.        ,
        0.39795918],
       ...,
       [0.56164384, 0.09482688, 0.53333333, 0.        , 0.        ,
        0.39795918],
       [0.06849315, 0.12849934, 0.53333333, 0.        , 0.        ,
        0.19387755],
       [0.47945205, 0.18720338, 0.53333333, 0.1502415 , 0.        ,
        0.39795918]])

## Encoding Technique

### One Hot Encoder

In [19]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [20]:
categorical_features

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country', 'income'],
      dtype='object')

In [21]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [22]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [23]:
df['marital_status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [24]:
df['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [25]:
df['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [26]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [27]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [28]:
df['native_country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [29]:
df['income'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [30]:
# Apply One-Hot Encoding to categorical variables with less than 5 categories
OHE= OneHotEncoder(sparse_output=False, drop='first')
df_one_hot_encoded = df.copy()

for col in categorical_features:
    if df[col].nunique() < 5:
        one_hot_encoded_data = OHE.fit_transform(df[[col]])
        one_hot_encoded_df = pd.DataFrame(one_hot_encoded_data, columns=[f"{col}_{i}" for i in range(one_hot_encoded_data.shape[1])])
        df_one_hot_encoded = pd.concat([df_one_hot_encoded, one_hot_encoded_df], axis=1).drop(columns=[col])

In [31]:
df_one_hot_encoded.head(2)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_0,income_0
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,2174,0,40,United-States,1.0,0.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,0,0,13,United-States,1.0,0.0

In [32]:
# Apply Label Encoding to categorical variables with more than 5 categories
le = LabelEncoder()
df_label_encoded = df_one_hot_encoded.copy()

for col in categorical_features:
    if df[col].nunique() >= 5:
        df_label_encoded[col] = le.fit_transform(df[col])

df_label_encoded.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_0,income_0
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,1.0,0.0
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,1.0,0.0
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,1.0,0.0
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,1.0,0.0
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,0.0,0.0

## Feature engineering

In [33]:
# Creating new features
df_label_encoded['age_bin']=pd.cut(df_label_encoded['age'],bins=[0,25,45,65,100],labels=['young','middle_aged','senior','elderly'])
df_label_encoded['hours_per_week_bin']=pd.cut(df_label_encoded['hours_per_week'],bins=[0,20,40,60,80],labels=['part_time','full_time','over_time','extreme'])
# Encoding new features
df_label_encoded['age_bin']=le.fit_transform(df_label_encoded['age_bin'])
df_label_encoded['hours_per_week_bin']=le.fit_transform(df_label_encoded['hours_per_week_bin'])
df_label_encoded.head(2)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_0,income_0,age_bin,hours_per_week_bin
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,1.0,0.0,1,1
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,1.0,0.0,2,3

In [34]:
# Check skewness of numerical features
skewness = df[numerical_features].skew()
skewness

age                0.558743
fnlwgt             1.446980
education_num     -0.311676
capital_gain      11.953848
capital_loss       4.594629
hours_per_week     0.227643
dtype: float64

In [35]:
# Apply log transformation to a skewed feature
skewed_feature='capital_gain'
df_label_encoded[skewed_feature+'_log']=np.log1p(df_label_encoded[skewed_feature])

In [36]:
# Verify transformation
df_label_encoded[[skewed_feature, skewed_feature + '_log']].head()

   capital_gain  capital_gain_log
0          2174          7.684784
1             0          0.000000
2             0          0.000000
3             0          0.000000
4             0          0.000000

## IsolationForest

In [37]:
from sklearn.ensemble import IsolationForest

In [38]:
# Apply Isolation Forest
iso_forest = IsolationForest(contamination=0.05)
outliers = iso_forest.fit_predict(df_label_encoded[numerical_features])

In [39]:
outliers

array([1, 1, 1, ..., 1, 1, 1])

In [40]:
# Remove outliers
df_no_outliers = df_label_encoded[outliers == 1]
df_no_outliers.shape

(30933, 18)

In [41]:
df_no_outliers

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,capital_gain,capital_loss,hours_per_week,native_country,sex_0,income_0,age_bin,hours_per_week_bin,capital_gain_log
0,39,7,77516,9,13,4,1,1,4,2174,0,40,39,1.0,0.0,1,1,7.684784
1,50,6,83311,9,13,2,4,0,4,0,0,13,39,1.0,0.0,2,3,0.000000
2,38,4,215646,11,9,0,6,1,4,0,0,40,39,1.0,0.0,1,1,0.000000
3,53,4,234721,1,7,2,6,0,2,0,0,40,39,1.0,0.0,2,1,0.000000
4,28,4,338409,9,13,2,10,5,2,0,0,40,5,0.0,0.0,1,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,38,39,0.0,0.0,1,1,0.000000
32557,40,4,154374,11,9,2,7,0,4,0,0,40,39,1.0,1.0,1,1,0.000000
32558,58,4,151910,11,9,6,1,4,4,0,0,40,39,0.0,0.0,2,1,0.000000
32559,22,4,201490,11,9,4,1,3,4,0,0,20,39,1.0,0.0,3,3,0.000000
32560,52,5,287927,11,9,2,4,5,4,15024,0,40,39,0.0,1.0,2,1,9.617471

In [42]:
df_no_outliers.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'sex_0', 'income_0',
       'age_bin', 'hours_per_week_bin', 'capital_gain_log'],
      dtype='object')

## PPS score

In [43]:
#install the package
#!pip install ppscore

In [44]:
import ppscore as pps

In [45]:
# Calculate PPS matrix
pps_matrix = pps.matrix(df_no_outliers)[['x', 'y', 'ppscore']].pivot(columns='x', index='y', values='ppscore')

In [46]:
# Calculate correlation matrix
correlation_matrix = df_no_outliers.corr()

pps_matrix, correlation_matrix

(x                        age   age_bin  capital_gain  capital_gain_log  \
 y
 age                 1.000000  0.606979      0.002211          0.000888
 age_bin             1.000000  1.000000      0.000000          0.000000
 capital_gain        0.000000  0.000000      1.000000          0.991154
 capital_gain_log    0.000000  0.000000      0.996589          1.000000
 capital_loss        0.000000  0.000000      0.000000          0.000000
 education           0.000000  0.000000      0.000000          0.000000
 education_num       0.000000  0.000000      0.000000          0.000000
 fnlwgt              0.000000  0.000000      0.000000          0.000000
 hours_per_week      0.000000  0.000000      0.000000          0.000000
 hours_per_week_bin  0.000000  0.000000      0.000000          0.000000
 income_0            0.000000  0.000000      0.000000          0.000000
 marital_status      0.150053  0.117162      0.000000          0.000000
 native_country      0.000000  0.000000      0.000000          0.000000
 occupation          0.000000  0.001002      0.000000          0.000000
 race                0.000000  0.000000      0.000000          0.000000
 relationship        0.000520  0.000000      0.000000          0.000000
 sex_0               0.000000  0.000000      0.000000          0.000000
 workclass           0.000000  0.000000      0.000000          0.000000

 x                   capital_loss  education  education_num  fnlwgt  \
 y
 age                          0.0   0.021166       0.021166     0.0
 age_bin                      0.0   0.000000       0.000000     0.0
 capital_gain                 0.0   0.000000       0.000000     0.0
 capital_gain_log             0.0   0.000000       0.000000     0.0
 capital_loss                 1.0   0.000000       0.000000     0.0
 education                    0.0   1.000000       1.000000     0.0
 education_num                0.0   1.000000       1.000000     0.0
 fnlwgt                       0.0   0.000000       0.000000     1.0
 hours_per_week               0.0   0.000000       0.000000     0.0
 hours_per_week_bin           0.0   0.000000       0.000000     0.0
 income_0                     0.0   0.000000       0.000000     0.0
 marital_status               0.0   0.000000       0.000000     0.0
 native_country               0.0   0.000000       0.000000     0.0
 occupation                   0.0   0.025863       0.025863     0.0
 race                         0.0   0.000000       0.000000     0.0
 relationship                 0.0   0.000000       0.000000     0.0
 sex_0                        0.0   0.000000       0.000000     0.0
 workclass                    0.0   0.000000       0.000000     0.0

 x                   hours_per_week  hours_per_week_bin  income_0  \
 y
 age                       0.001458            0.000894  0.036928
 age_bin                   0.000000            0.000000  0.000000
 capital_gain              0.000000            0.000000  0.000000
 capital_gain_log          0.000000            0.000000  0.000000
 capital_loss              0.000000            0.000000  0.000000
 education                 0.000000            0.000000  0.000000
 education_num             0.000000            0.000000  0.022644
 fnlwgt                    0.000000            0.000000  0.000000
 hours_per_week            1.000000            0.513912  0.000000
 hours_per_week_bin        0.998304            1.000000  0.000000
 income_0                  0.000000            0.000000  1.000000
 marital_status            0.000000            0.000000  0.000000
 native_country            0.000000            0.000000  0.000000
 occupation                0.000000            0.000000  0.000828
 race                      0.000000            0.000000  0.000000
 relationship              0.000000            0.000000  0.000000
 sex_0                     0.000000            0.000000  0.000000
 workclass                 0.000000            0.000000  0.000000

 x                   marital_status  native_country  occupation      race  \
 y
 age                       0.209342             0.0    0.013874  0.000000
 age_bin                   0.000000             0.0    0.000000  0.000000
 capital_gain              0.000000             0.0    0.000000  0.000000
 capital_gain_log          0.000000             0.0    0.000000  0.000000
 capital_loss              0.000000             0.0    0.000000  0.000000
 education                 0.000000             0.0    0.000000  0.000000
 education_num             0.000000             0.0    0.165128  0.000000
 fnlwgt                    0.000000             0.0    0.000000  0.000987
 hours_per_week            0.000000             0.0    0.000000  0.000000
 hours_per_week_bin        0.000000             0.0    0.000000  0.000000
 income_0                  0.000000             0.0    0.000000  0.000000
 marital_status            1.000000             0.0    0.000000  0.000000
 native_country            0.000000             1.0    0.000000  0.000000
 occupation                0.000000             0.0    1.000000  0.000000
 race                      0.000000             0.0    0.000000  1.000000
 relationship              0.117940             0.0    0.000000  0.000000
 sex_0                     0.000000             0.0    0.000000  0.000000
 workclass                 0.000000             0.0    0.184999  0.000000

 x                   relationship     sex_0  workclass
 y
 age                     0.147923  0.000000   0.020604
 age_bin                 0.031643  0.000000   0.000000
 capital_gain            0.000000  0.000000   0.000000
 capital_gain_log        0.000000  0.000000   0.000000
 capital_loss            0.000000  0.000000   0.000000
 education               0.000000  0.000000   0.000000
 education_num           0.000000  0.000000   0.000000
 fnlwgt                  0.000000  0.000000   0.000000
 hours_per_week          0.000000  0.000000   0.000000
 hours_per_week_bin      0.000000  0.000000   0.000000
 income_0                0.000000  0.000000   0.000000
 marital_status          0.285817  0.000000   0.000000
 native_country          0.000000  0.000000   0.000000
 occupation              0.000000  0.000000   0.113708
 race                    0.000000  0.000000   0.000000
 relationship            1.000000  0.137573   0.000000
 sex_0                   0.228381  1.000000   0.000000
 workclass               0.000000  0.000000   1.000000  ,
                          age  workclass    fnlwgt  education  education_num  \
 age                 1.000000   0.009916 -0.080087  -0.003206       0.038174
 workclass           0.009916   1.000000 -0.017071   0.019364       0.045534
 fnlwgt             -0.080087  -0.017071  1.000000  -0.018158      -0.033822
 education          -0.003206   0.019364 -0.018158   1.000000       0.347605
 education_num       0.038174   0.045534 -0.033822   0.347605       1.000000
 marital_status     -0.285346  -0.060015  0.027442  -0.033316      -0.055546
 occupation         -0.017032   0.248788 -0.000842  -0.025521       0.105590
 relationship       -0.262113  -0.092165  0.008720  -0.009561      -0.087540
 race                0.026524   0.049288 -0.023486   0.013203       0.028000
 capital_gain        0.095340   0.021027 -0.014339   0.020606       0.130262
 capital_loss        0.015597  -0.007396 -0.022987   0.016446       0.025786
 hours_per_week      0.093845   0.129991 -0.020901   0.049573       0.131452
 native_country      0.001423  -0.005790 -0.049909   0.062933       0.048655
 sex_0               0.085528   0.094749  0.026024  -0.030083       0.002903
 income_0            0.228844   0.039700 -0.012100   0.069854       0.308371
 age_bin            -0.340531  -0.055852  0.025056  -0.020764      -0.121838
 hours_per_week_bin -0.016242   0.007883 -0.030844  -0.007344       0.043791
 capital_gain_log    0.099180   0.011863 -0.014541   0.016194       0.098001

                     marital_status  occupation  relationship      race  \
 age                      -0.285346   -0.017032     -0.262113  0.026524
 workclass                -0.060015    0.248788     -0.092165  0.049288
 fnlwgt                    0.027442   -0.000842      0.008720 -0.023486
 education                -0.033316   -0.025521     -0.009561  0.013203
 education_num            -0.055546    0.105590     -0.087540  0.028000
 marital_status            1.000000   -0.005928      0.183100 -0.066094
 occupation               -0.005928    1.000000     -0.075463  0.007869
 relationship              0.183100   -0.075463      1.000000 -0.118632
 race                     -0.066094    0.007869     -0.118632  1.000000
 capital_gain             -0.062965    0.019451     -0.071932  0.019167
 capital_loss             -0.032856    0.008842     -0.039452  0.012270
 hours_per_week           -0.189580    0.071993     -0.250066  0.043838
 native_country           -0.023831   -0.012463     -0.007120  0.134217
 sex_0                    -0.122819    0.080855     -0.578124  0.088492
 income_0                 -0.194192    0.070424     -0.244028  0.070144
 age_bin                   0.246235   -0.016915      0.186211  0.017472
 hours_per_week_bin        0.048314    0.034658      0.011473  0.055466
 capital_gain_log         -0.062298    0.013546     -0.072087  0.021654

                     capital_gain  capital_loss  hours_per_week  \
 age                     0.095340      0.015597        0.093845
 workclass               0.021027     -0.007396        0.129991
 fnlwgt                 -0.014339     -0.022987       -0.020901
 education               0.020606      0.016446        0.049573
 education_num           0.130262      0.025786        0.131452
 marital_status         -0.062965     -0.032856       -0.189580
 occupation              0.019451      0.008842        0.071993
 relationship           -0.071932     -0.039452       -0.250066
 race                    0.019167      0.012270        0.043838
 capital_gain            1.000000     -0.031477        0.070237
 capital_loss           -0.031477      1.000000        0.010341
 hours_per_week          0.070237      0.010341        1.000000
 native_country          0.012899      0.012685        0.001618
 sex_0                   0.060355      0.029384        0.228062
 income_0                0.311372      0.066170        0.216385
 age_bin                -0.060016     -0.032752       -0.196987
 hours_per_week_bin      0.013420     -0.033431       -0.205355
 capital_gain_log        0.859186     -0.038409        0.060217

                     native_country     sex_0  income_0   age_bin  \
 age                       0.001423  0.085528  0.228844 -0.340531
 workclass                -0.005790  0.094749  0.039700 -0.055852
 fnlwgt                   -0.049909  0.026024 -0.012100  0.025056
 education                 0.062933 -0.030083  0.069854 -0.020764
 education_num             0.048655  0.002903  0.308371 -0.121838
 marital_status           -0.023831 -0.122819 -0.194192  0.246235
 occupation               -0.012463  0.080855  0.070424 -0.016915
 relationship             -0.007120 -0.578124 -0.244028  0.186211
 race                      0.134217  0.088492  0.070144  0.017472
 capital_gain              0.012899  0.060355  0.311372 -0.060016
 capital_loss              0.012685  0.029384  0.066170 -0.032752
 hours_per_week            0.001618  0.228062  0.216385 -0.196987
 native_country            1.000000 -0.007675  0.019076  0.023297
 sex_0                    -0.007675  1.000000  0.208877 -0.081303
 income_0                  0.019076  0.208877  1.000000 -0.146604
 age_bin                   0.023297 -0.081303 -0.146604  1.000000
 hours_per_week_bin        0.031395  0.000547  0.028151  0.051576
 capital_gain_log          0.010594  0.059092  0.253678 -0.068441

                     hours_per_week_bin  capital_gain_log
 age                          -0.016242          0.099180
 workclass                     0.007883          0.011863
 fnlwgt                       -0.030844         -0.014541
 education                    -0.007344          0.016194
 education_num                 0.043791          0.098001
 marital_status                0.048314         -0.062298
 occupation                    0.034658          0.013546
 relationship                  0.011473         -0.072087
 race                          0.055466          0.021654
 capital_gain                  0.013420          0.859186
 capital_loss                 -0.033431         -0.038409
 hours_per_week               -0.205355          0.060217
 native_country                0.031395          0.010594
 sex_0                         0.000547          0.059092
 income_0                      0.028151          0.253678
 age_bin                       0.051576         -0.068441
 hours_per_week_bin            1.000000          0.010747
 capital_gain_log              0.010747          1.000000  )